* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #343a40;

  }
  button {
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
    
  }
  .container1 {
    max-width: 1480px;
    max-height: 1280px;
    background-color: #dbeef6;
    
    
  }
  
  
  .hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
  }
  .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-left: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* .hero h1 {
    font-weight: 100;
    line-height: 50px;
    font-size: 50px;
  } */
  .hero p {
    font-weight: 300;
    color: var(--gray);
    max-width: 400px;
  }
  
  .hero-btn {
    display: flex;
    gap: 40px;

   

    color: aliceblue;
    

  }
 
  .hero-btn button {
    font-size: 24px;
    background-color: blueviolet;
    
    
  }
  .secondary-btn {
    background: transparent;
    color: white;
    border: 1px solid gray;
  }
  
  .shopping p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .brand-icons {
    display: flex;
    gap: 16px;
  }
  .iim{
    height: 200px;
  }
  .hero-image{
    width: 50%;
    
  }
   .hero-image img{
    height: 610px;

    border-radius: 60% 40% 40% 30%;
    box-shadow: 50px 20px 50px #888888;
  } 